.imagen2 {
  width: 100px;
  height: 100px;
}

.bordeProducto {
  border-color: rgb(206, 196, 196) !important;
}

@media (min-width: 300px) { /*Móviles*/
  .parejaBotones {
      /* Adjust styles for small devices (e.g., smartphones) */
      width: 100%;
  }
}

@media (min-width: 768px) { /*Tablets y otros dispositivos*/
  .parejaBotones {
    width: auto;
  }
}

.contenedorScroll {
  width: 300px; /* Ancho deseado del contenedor */
  max-height: 22em; /* Altura deseada del contenedor */
  overflow: auto; /* Agrega barras de desplazamiento cuando sea necesario */
}
