.contact-container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .contact-heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .contact-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .contact-item {
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .contact-title {
    font-size: 18px;
    margin-bottom: 10px;
  }




 /* .contact-container {
    min-height: calc(100vh - 150px); 
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   } */

/* .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 2rem;
    border-top: 2px solid #ddd;
    text-align: center;
    color: #333;
} */

  