.order-history {
  max-width: 800px;
  margin: 0 auto;
}

.order-list {
  list-style: none;
  padding: 0;
}

.order-item {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

.order-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-info span {
  font-weight: bold;
}

.ver-detalles-link {
  color: #007bff;
  text-decoration: none;
  margin-left: 10px;
}

.borrar-pedido {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.borrar-pedido:hover {
  background-color: #c82333;
}


.filter-section {
  margin-bottom: 20px;
}

.filter-section label {
  margin-right: 10px;
}

.filter-section input[type="date"] {
  margin-right: 10px;
  padding: 5px;
}

.filter-section button {
  padding: 5px 10px;
  background-color: #ffc107;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filter-section button:hover {
  background-color: #ffca28;
}

