.order-history {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .order-list {
    list-style-type: none;
    padding: 0;
  }
  
  .order-item {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff; /* Establecer un fondo blanco para todos los pedidos */
  }
  
  .order-info {
    margin-bottom: 10px;
  }
  
  .product-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    margin-bottom: 10px;
  }
  
  .product-item:last-child {
    border-bottom: none;
  }
  
  .ver-info-cliente {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .ver-info-cliente:hover {
    background-color: #0056b3;
  }
  
  .modal-body {
    padding: 20px;
  }
  