.header {
    padding: 1rem;
    margin: 0;
    background-color: #f8f9fa;
    border-bottom: 2px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.header-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header-links li {
    margin-right: 1rem;
}

.header-links li:last-child {
    margin-right: 0;
}

/* puede que haya eltos <a> internos */
/*cuando se cambia color, dado por la de abajo*/
.header-links a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}


.header-links a:hover {
    color: #860000;
}

.logo-image {
    width: 50px; /* Ajusta el ancho de la imagen según sea necesario */
    height: auto; /* Permite que la altura se ajuste automáticamente según el ancho */
    margin-right: 10px; /* Espacio entre el logo y el texto del nombre */
  }

  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-email {
    margin-left: 10px;
    font-weight: bold;
    font-style: italic; /* Hace que el texto sea cursivo */
    color: #007bff; /* Color azul claro */
  }
